.wtt{
    background-color: blue;
    height: 120px;
    width: 80%;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    top: 20px;
   /*bottom: 20px;
    position: fixed; sabit tutuyor
    position: sticky; sayfa kayarken sabit yerinde kalıyor
    static normal hali
    top: 20px;*/
}
.absolute{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: yellow;
}
#paragraph{
    width: 100px;
    height: 100px;
    background-color: brown;
    border:1px solid;
    overflow: hidden;
}
